# Permitir acceso directo a archivos en el directorio components y sus subdirectorios
RewriteRule ^components/ - [L]

# Redirigir todas las solicitudes no existentes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Configuración de tipos MIME
AddType application/javascript .jsla 

# Configuración de seguridad y CORS
<IfModule mod_headers.c>
    # Política de seguridad de contenido (modificada para permitir 'unsafe-inline' y 'unsafe-eval')
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net https://cdn.datatables.net; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://cdn.datatables.net; img-src 'self' data:; font-src 'self' data:; connect-src 'self' http://localhost https://test.esistemas.com.mx"

    # Configuración CORS (modificada para incluir http://localhost)
    Header always set Access-Control-Allow-Origin "http://gestorarchivos.local/"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    Header always set Access-Control-Allow-Credentials "true"

    # Manejar solicitudes OPTIONS para CORS preflight
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>

# Configuración de cookies
php_flag output_buffering on
php_value session.cookie_httponly 0
php_value session.cookie_secure 0