<div id="filesContent" style="display: none">
    <h2>Archivos</h2>
    <div class="row mb-3">
      <div class="col-md-4">
        <button class="btn btn-primary" id="uploadFileBtn">Subir Archivo</button>
      </div>
    </div>
    
    <!-- tabla de archivos -->
    <div id="filesTable"></div>
    <!-- paginaciones -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mt-3" id="filePagination">
        <!-- La paginación se generará dinámicamente aquí -->
      </ul>
    </nav>
  </div>